body {
    font-family: "Fjalla One", sans-serif;
}

h1, h2 {
    font-family: "Luckiest Guy", cursive;
    text-shadow: 3px 3px #000000
}

h3 {
    font-family: "Fjalla One", sans-serif;
}

h2 {
    color: #1E90FF;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #901CAD;
}

#quote {
    padding: 0 0 0 20px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel {
    border: solid whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
}

.shadowbutton {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
}

.img-thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
}

.shadowtable {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
}